.floatingdiv{
    background: white;
    box-shadow: var(--boxShadow);
    border-radius: 18px;
    height: 4.5rem;
}

.floatingdiv>img{
   transform: scale(0.4); 
}

.floatingdiv span{
    font-size: 18px;
    font-weight: bold;
    color: black;
}